<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<footer class="aw-layout-footer  js-content" th:fragment="layout-footer">

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4 control-label">
				<h5 class="white-text">
					<strong>Contatos</strong>
				</h5>
				<p class="white-text" href="#!">
					elton-cox@programmer.net<br />+55 11 94117-4091
				</p>
			</div>

			<div class="col-sm-4 control-label">
				<h5 class="white-text">
					<strong>Requisitos</strong>
				</h5>
				<p class="white-text" href="#!">
					Locação<br />Passeios
				</p>
			</div>

			<div class="col-sm-4 control-label">
				<h5 class="white-text">
					<strong>Sobre o sistema</strong>
				</h5>
				<p class="white-text">
					Este é um sistema para transporte com cadastramento de alunos<br />Serviço
					de transporte reservado para levar estudantes à escola
				</p>				
			</div>
			
			<div class="1-footer_legal">
				<p class="white-text">
					<strong>&copy; 2019 EltonLuiz. Todos os direitos
						reservados.</strong>
				</p>
			</div>
		</div>	
	</div>
</footer>
</html>